# Node
node_modules
node_modules/
dist/
.env

# .NET
bin/
obj/
*.user
*.suo
.vs/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
.ruff_cache

# OS
.DS_Store
Thumbs.db

# vs code
.vscode/

# test coverage
coverage/
.coverage
coverage.json

# Playwright
e2e/test-results/
e2e/playwright-report/
e2e/blob-report/
e2e/playwright/.cache/
e2e/playwright/.auth/